/*
Common
**********************/

html,
body {
    height: 100%;
    font-family: Roboto;
}


.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
}

.content .main_header{
    display: flex;
    align-items: center;
    /* margin-left: 1.7vw; */
    padding-left: 1.7vw;
    gap: 3%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#logo{
    width: 3vw;
}

/*
Post
**********************/


.posts_form {
    padding: 20px 17px;
    /* border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc; */
    border: 1px solid #ccc;
}

.posts_form form{
    display: flex;
    gap: 5%;
    /* justify-content: space-between; */
}

.posts_form .input-class{
    width: 100%;
}

.posts_form .input-class .input-name  {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e6fef7;
    border:none;
    outline: none;
    font-size: 1rem;
}
.button {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
    align-items: center;
}

.button input[type="submit"]  {
    width: 74px;
    border-radius: 5px;
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    height: 5vh;
}

.button input[type="file"] {
    font-size: 1rem;
}

.posts_form textarea {
    width: 95%;
    padding: 10px;
    border:none;
    outline: none;
    font-size: 1rem;
}

.posts_form .form-user img{
    width: 3vw;
}

.posts ul {
    padding: 0%;
}

.posts li {
    display: flex;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 17px;
    align-items: flex-start;
}

.posts li .logo {
    flex-basis: 15%;
}


.posts li .logo img {
    width: 60%;
}


.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: grey;
}

.posts .like-btn{
    display:flex;
    align-items: center;
}

.posts .js-menu a{
    text-decoration: none;
    color: black;
}

.posts .js-menu{
    display: none;
}

#thumb{
    width: 3vw;
}

#menu-img{
    width: 3vw;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }

}
